{% extends 'base.html' %}

{% block title %}Запросы{% endblock %}

{% block header %}
    <a class="text-white text-decoration-none h5" href="{{ url_for('requests_bp.request_index') }}">Меню запросов</a>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">Количество приписавшихся к поликлинике за указанный год по месяцам</h2>
    <form action="{{ url_for('requests_bp.request_view', request_name='new_patients') }}" method="post" class="form-group">
        <div class="mb-3">
            <label for="year" class="form-label">Укажите год:</label>
            <input type="number" id="year" name="year" class="form-control" min="2000" required>
        </div>
        <div class="text-center">
            <input type="submit" value="Отправить" class="btn btn-primary btn-lg">
        </div>
    </form>
</div>
{% endblock %}
