{% extends 'base.html' %}

{% block title %}Запросы{% endblock %}

{% block header %}
    <a class="header" href="{{url_for('requests_bp.index_requests')}}">Меню запросов</a>
{% endblock %}

{% block content %}
    <h2>Врачи указанной специальности</h2>
    <form action="{{ url_for('requests_bp.request_view', request_id='2') }}" method="post">
        <label for="specialty">Выберите специальность:</label>
        <select name="specialization" id="specialization">
            {% for specialization in result %}
                <option value="{{ specialization }}">{{ specialization }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}
