{% macro render_item(item) %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ item['doctor_name'] }}</h5>
        <p class="card-text">
            <strong>Дата:</strong> {{ item['appointment_date'] }}<br>
            <strong>Время:</strong> {{ item['appointment_time_start'] }} - {{ item['appointment_time_end'] }}<br>
            <strong>Пациент:</strong> {{ item['patient_name'] }}<br>
            <strong>Диагноз:</strong> {{ item['diagnosis'] }}
        </p>
        <form method="POST" action="">
            <input type="hidden" name="visit_id" value="{{ item['visit_id'] }}">
            <button type="submit" name="delete" value="delete" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endmacro %}

{% extends 'base.html' %}

{% block title %}Составление заказа{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4 text-center">Создание записи</h2>
            {% if basket %}
                {% for item in basket %}
                    {{ render_item(item) }}
                {% endfor %}
            {% else %}
                <p class="alert alert-warning text-center">Ваша корзина пуста</p>
            {% endif %}
            <div class="d-flex justify-content-between mt-4">
                <a href="{{ url_for('appointment_bp.select_patient') }}" class="btn btn-primary">Добавить</a>
                <a href="{{ url_for('appointment_bp.clear_basket') }}" class="btn btn-secondary">Очистить корзину</a>
            </div>
            <form action="{{ url_for('appointment_bp.save_appointment') }}" method="POST" class="mt-4">
                <button type="submit" class="btn btn-success btn-lg btn-block">Сохранить записи</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
