{% extends 'base.html' %}

{% block title %}Заказ сохранён{% endblock %}

{% block header %}
    <a class="header btn btn-primary btn-lg" href="{{url_for('appointment_bp.basket_index')}}">Создание записей</a>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success">Записи созданы успешно</h2>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-secondary btn-lg" href="{{url_for('appointment_bp.basket_index')}}">Вернуться к корзине</a>
    </div>
</div>
{% endblock %}
