{% extends 'base.html' %}

{% block title %}Выбор пациента{% endblock %}

{% block content %}
    <h1>Шаг 1</h1>
    <h2>Выбор пациента</h2>
    <form method="POST" action="">
        <label for="patient_id">Пациент:</label>
        <select id="patient_id" name="patient_id" required>
            <option value="" disabled selected>Выберите пациента</option>
            {% for patient in patients %}
                <option value="{{ patient['card_number'] }}|{{ patient['patient_name'] }}">{{ patient['patient_name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Выбрать">
    </form>
    <a class="back" href="{{ prev_page }}">Назад</a>
{% endblock %}