{% extends 'base.html' %}

{% block title %}Выбор пациента{% endblock %}

{% block header %}
    <a class="header btn btn-primary btn-lg" href="{{url_for('appointment_bp.basket_index')}}">Создание записей</a>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Шаг 1: Выбор пациента</h1>

    <form method="POST" action="" class="mt-4">
        <div class="mb-3">
            <label for="patient_id" class="form-label">Пациент:</label>
            <select id="patient_id" name="patient_id" class="form-control" required>
                <option value="" disabled selected>Выберите пациента</option>
                {% for patient in patients %}
                    <option value="{{ patient['card_number'] }}|{{ patient['patient_name'] }}">{{ patient['patient_name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ prev_page }}" class="btn btn-secondary">Назад</a>
            <button type="submit" class="btn btn-primary">Выбрать</button>
        </div>
    </form>
</div>
{% endblock %}
